.container {
  text-align: center;
  margin-top: 50px;
}
.hero{
    display: flex;
    height: 40px;
    gap: 10px;
    margin-top: 12px;
}

.input {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  flex: 1;
  height: 100%;
}

.button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
  width: 100px;
}

.button:hover {
  background-color: #0056b3;
}

.buttonShare {
  padding: 8px 16px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 10px;
}

.buttonShare:hover {
  background-color: #218838;
}

.result {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
