:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #6b7280;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
	text-decoration: none !important;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: black;
  background-color: var(--light);
  font-family: "Fira sans", sans-serif;
  text-decoration: none !important;
}
